<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8" />
	<title>Noticia</title>
</head>

<body>

	<h1>Noticia</h1>

	<table>
		<tr>
			<td>Id</td>
			<td>Titulo</td>
		</tr>

		<tr>
			<td><%= noticia[0].idportal_noticias %></td>
			<td><%= noticia[0].titulo %></td>
		</tr>

	</table>
</body>

</html>